openapi: 3.1.0
info:
  title: Nusano Content API (WordPress REST wp/v2) Tags API
  version: wp/v2
  summary: 'Public read surface of nusano.com content: news releases, Nu Blog posts, HALEU knowledge-center and
    marketing pages, the media library, taxonomies and site search.'
  description: 'Nusano publishes nusano.com on WordPress, which exposes the WordPress REST API at https://nusano.com/wp-json/.
    The `wp/v2` namespace is anonymously readable and returns the company''s news releases, Nu Blog posts, event
    notices, marketing and HALEU knowledge-center pages, the media library, categories, tags and a site-wide search
    endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://nusano.com/wp-json/wp/v2
    on 2026-08-26 — every path, method and parameter below is taken verbatim from that descriptor. Nusano does not
    publish an OpenAPI definition of its own, and this is NOT a product API: Nusano manufactures radioisotopes,
    and this is the content API its CMS exposes. Write operations are declared by the route index but require authentication
    (WordPress Application Passwords over HTTP Basic); anonymous writes return 401 `rest_forbidden`.'
  contact:
    name: Nusano
    url: https://nusano.com/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://nusano.com/wp-json/wp/v2
  x-derived-on: '2026-08-26'
  x-provider-published: false
servers:
- url: https://nusano.com/wp-json
  description: Production
tags:
- name: Tags
paths:
  /wp/v2/tags:
    get:
      operationId: getTags
      summary: GET /wp/v2/tags
      description: Content tags.
      tags:
      - Tags
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Bad Request — a required parameter is missing or invalid (`rest_missing_callback_param`,
            `rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — the route requires authentication (`rest_forbidden`). WordPress returns 401
            with a JSON error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found — no route matched (`rest_no_route`) or the resource id does not exist (`rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createTags
      summary: POST /wp/v2/tags
      description: Write operation declared by the WordPress route index. It requires authentication (WordPress
        Application Passwords over HTTP Basic); anonymous calls return 401 `rest_forbidden`.
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
              required:
              - name
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — a required parameter is missing or invalid (`rest_missing_callback_param`,
            `rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — the route requires authentication (`rest_forbidden`). WordPress returns 401
            with a JSON error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found — no route matched (`rest_no_route`) or the resource id does not exist (`rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
  /wp/v2/tags/{id}:
    get:
      operationId: getTagsById
      summary: GET /wp/v2/tags/{id}
      description: Content tags.
      tags:
      - Tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter `id` as declared by the WordPress route index.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — a required parameter is missing or invalid (`rest_missing_callback_param`,
            `rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — the route requires authentication (`rest_forbidden`). WordPress returns 401
            with a JSON error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found — no route matched (`rest_no_route`) or the resource id does not exist (`rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createTagsById
      summary: POST /wp/v2/tags/{id}
      description: Write operation declared by the WordPress route index. It requires authentication (WordPress
        Application Passwords over HTTP Basic); anonymous calls return 401 `rest_forbidden`.
      tags:
      - Tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter `id` as declared by the WordPress route index.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — a required parameter is missing or invalid (`rest_missing_callback_param`,
            `rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — the route requires authentication (`rest_forbidden`). WordPress returns 401
            with a JSON error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found — no route matched (`rest_no_route`) or the resource id does not exist (`rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
    put:
      operationId: updateTagsById
      summary: PUT /wp/v2/tags/{id}
      description: Write operation declared by the WordPress route index. It requires authentication (WordPress
        Application Passwords over HTTP Basic); anonymous calls return 401 `rest_forbidden`.
      tags:
      - Tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter `id` as declared by the WordPress route index.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — a required parameter is missing or invalid (`rest_missing_callback_param`,
            `rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — the route requires authentication (`rest_forbidden`). WordPress returns 401
            with a JSON error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found — no route matched (`rest_no_route`) or the resource id does not exist (`rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
    patch:
      operationId: patchTagsById
      summary: PATCH /wp/v2/tags/{id}
      description: Write operation declared by the WordPress route index. It requires authentication (WordPress
        Application Passwords over HTTP Basic); anonymous calls return 401 `rest_forbidden`.
      tags:
      - Tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter `id` as declared by the WordPress route index.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — a required parameter is missing or invalid (`rest_missing_callback_param`,
            `rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — the route requires authentication (`rest_forbidden`). WordPress returns 401
            with a JSON error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found — no route matched (`rest_no_route`) or the resource id does not exist (`rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
    delete:
      operationId: deleteTagsById
      summary: DELETE /wp/v2/tags/{id}
      description: Write operation declared by the WordPress route index. It requires authentication (WordPress
        Application Passwords over HTTP Basic); anonymous calls return 401 `rest_forbidden`.
      tags:
      - Tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter `id` as declared by the WordPress route index.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — a required parameter is missing or invalid (`rest_missing_callback_param`,
            `rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — the route requires authentication (`rest_forbidden`). WordPress returns 401
            with a JSON error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found — no route matched (`rest_no_route`) or the resource id does not exist (`rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - applicationPassword: []
components:
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Anonymous read is permitted on these routes;
        every write requires credentials.
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. `rest_forbidden`.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
